body {
  background: #000;
  color: #fff;
  font-family: Arial;
  padding: 40px;
}

.container img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.next {
  margin-top: 60px;
  border-top: 1px solid #333;
  padding-top: 20px;
}
